#FormLogin {
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Altura completa de la ventana */
    background-color: #000000; /* Fondo claro para contraste */
}

.Login {
    width: 300px; /* Ajustar el ancho del contenedor */
    padding: 20px; /* Espaciado interno */
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de tarjeta */
}
  
.FormLogin input {
    width: 100%; /* Hacer que los inputs ocupen todo el ancho del contenedor */
    height: 30px; /* Reducir la altura de los inputs */
    margin-bottom: 15px; /* Espaciado entre inputs */
    padding: 5px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente pequeño */
}
  