
.lista{
    display: flex;
   gap: 60%;
   margin-top: -10px;
  list-style: none;
  padding-left: 100px;

  
  
    
  
  }
  
  .lista a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
    
   
  }
  .navbar{
    background-color: #000000;
    height: 40px;
    margin-right: -400px;
    margin-top: -20px;
    
  
 
  }
  
